---
layout: Base
---

<div class="column is-5-widescreen  is-6-desktop is-8-tablet is-12-mobile">
        <div class="note-page-section">
            <div>
                {%- if site.preferences.homepage.enabled -%}
                <a onclick="window.history.back();">
                {%- else -%}
                <a onclick="window.location.assign('/');">
                {%- endif -%}
                        <h5 class="meta-title">← BACK</h5>
                </a>
            </div>
        <h1>{{page.title}}</h1>
        {%- include Content.html -%}
        {%- include Backlinks.html -%}
        </div>
</div>
